* {
  box-sizing: border-box;
}

html:has(.header-card) {
  height: 100vh;
}

body:has(.header-card) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header-card {
  background-color: #10214e;
  width: 20em;
  height: 20em;

  h1{
    color: aliceblue;
    text-align: center;
  }  
}



.img-card {
  position: relative;
  top: 2rem;
  width: 10em;
  height: auto;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}


